@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* base styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: var(--primary-color);
  font-family: "Roboto", sans-serif;
  position: static;
  height: 100%;
  width: 100%;
}

:root {
  --primary-color: #191765;
  --primary-2-color: #7d73fc;
  --primary-3-color: #9490ff;
  --secondary-color: #c8c8d4;
  --secondary-2-color: #dcdce8;
  --secondary-3-color: #edecff;
  --white-color: #fff;
  --gray-color: #646369;
}

.button {
  background-color: var(--primary-2-color);
  color: var(--white-color);
  transition: 200ms ease-out;
  border: none;
  padding: 0.7rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}

.button:hover {
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
  transform: translateY(3px);
}

.submit-button {
  background-color: var(--primary-2-color);
  color: var(--white-color);
  transition: 200ms ease-out;
  border: none;
  padding: 0.7rem;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  width: 10rem;
}

.submit-button:hover {
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
  transform: translateY(3px);
}

hr {
  border: none;
  height: 1.5px;
  width: 90%;
  margin: auto;
  color: var(--gray-color);
  background-color: var(--gray-color);
}

/* mobile styles */

.navbar {
  display: none;
}

.mobile-nav__logo-name {
  font-weight: 500;
  font-size: 25px;
  color: var(--white-color);
  margin-left: 30px;
}

.mobile-nav.active .mobile-nav__logo-name {
  visibility: hidden;
}

.mobile-nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 10px;
  height: auto;
  background-color: var(--primary-color);
  background-image: url(imgs/shapes-menu.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  z-index: 1000;
}

.fa-angle-right {
  float: right;
  color: var(--primary-2-color);
}

.mobile-nav-screen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  gap: 10px;
}

.mobile-nav-screen .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
  margin-right: 30px;
}

.mobile-nav img {
  display: none;
}

.mobile-nav .btn span {
  display: block;
  position: absolute;
  width: 20px;
  height: 2px;
  background: var(--white-color);
  transition: transform 0.3s ease-out, opacity 0.1s ease-out;
}

.mobile-nav.active .btn span {
  background: transparent;
}

.mobile-nav .btn span::before,
.mobile-nav .btn span::after {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 2px;
  background: var(--white-color);
  transition: transform 0.3s ease-out, opacity 0.1s ease-out;
}

.mobile-nav .btn span::before {
  transform: translateY(8px);
}

.mobile-nav.active .btn span::before {
  transform: translateY(0) rotateZ(45deg);
}

.mobile-nav .btn span::after {
  transform: translateY(-8px);
}

.mobile-nav.active .btn span::after {
  transform: translateZ(0) rotateZ(-45deg);
}

.mobile-nav .mobile-nav-menu {
  display: none;
}

.mobile-nav.active .mobile-nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 3rem;
  padding: 5rem;
  height: 100vh;
  list-style: none;
}

.mobile-nav.active .mobile-nav-menu li a {
  color: var(--white-color);
  text-decoration: none;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-image: url(imgs/top-circles.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.name {
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  margin-top: 3rem;
  color: var(--primary-2-color);
  animation-duration: 4s;
  animation-name: name-slide;
}

/* @keyframes name-slide {
  from {
    margin-left: 100%;
    width: 300%;
  }

  75% {
    font-size: 300%;
    margin-left: 25%;
    width: 150%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes name-slide {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
} */

.title {
  font-weight: 500;
  font-size: 32px;
  text-align: center;
  margin-top: 2%;
  color: var(--secondary-3-color);
  animation-duration: 2.5s;
  animation-name: name-slide;
}

.description {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  color: var(--secondary-color);
}

.abilities {
  font-weight: 500;
  font-size: 20px;
  display: grid;
  grid-template-columns: 150px 150px;
  grid-template-rows: 2;
  column-gap: 10px;
  row-gap: 3rem;
  padding: 2rem 1rem;
  color: var(--primary-3-color);
}

.abilities h4 {
  font-weight: 500;
  font-size: 15px;
}

.abilities p {
  font-weight: 400;
  padding: 12px 12px 0 0;
  color: var(--secondary-3-color);
}

.social-media ul {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  list-style: none;
}

.social-media li {
  padding: 0.1rem;
}

.modal {
  position: fixed;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.059);
  border: 1px solid var(--white-color);
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.492);
  backdrop-filter: blur(95px);
  transform: translate(-50%, -50%) scale(1);
  transition: 200ms ease-in-out;
  z-index: 10;
  height: min-content;
  display: none;
}

.showModal {
  display: block;
  background: rgba(255, 255, 255, 0.16);
  top: 50%;
  left: 50%;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white-color);
  padding: 25px 0;
  width: 90%;
  margin: auto;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--white-color);
}

.modal-body {
  padding: 5% 5%;
  text-align: center;
  color: var(--white-color);
}

.modal-body p {
  padding: 3% 0.5% 3% 0.5%;
  line-height: 25px;
  font-size: small;
}

.modal-body img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.modal-tags {
  padding: 2% 0 2% 0;
}

.modal-tags li {
  display: inline-block;
  font-size: 15px;
  color: var(--white-color);
}

.modal-tags li + li::before {
  content: " | ";
  padding: 0 10px;
  color: #81818c;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.modal-body .modal-icon {
  width: 22%;
  height: auto;
  padding: 1px;
  vertical-align: middle;
}

.modal-body .modal-icon-2 {
  width: 20%;
  height: auto;
  padding: 1.5px;
  vertical-align: middle;
}

.modal-button-div {
  padding: 1.5%;
}

.modal-button {
  background-color: var(--primary-2-color);
  color: var(--white-color);
  transition: 200ms ease-out;
  border: none;
  padding: 2%;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}

.modal-button:hover {
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
  transform: translateY(3px);
}

.work-1,
.work-2 {
  display: none;
}

.work {
  display: flex;
  justify-content: center;
  font-size: 20px;
  padding: 2rem 0 6rem 0;
  color: #c4c4c4;
}

.my-work {
  background-image: url(imgs/bottom-circles.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.work p {
  padding: 1rem;
}

.my-work h3 {
  font-weight: bold;
  font-size: 40px;
  width: 300px;
  padding: 1rem;
  color: var(--primary-3-color);
}

.flex-item-style-1,
.flex-item-style-2 {
  width: 95%;
  padding-top: 5%;
  padding-left: 5%;
}

.my-work-img {
  max-width: 100%;
  height: auto;
}

.project {
  font-size: 30px;
  color: var(--white-color);
}

.project-info-1,
.project-info-2 {
  font-size: 20px;
}

.project-description {
  padding: 2rem 0 2rem 0;
  color: var(--secondary-2-color);
}

.tags {
  padding: 1rem 0 2rem 0;
}

.tags li {
  display: inline-block;
  color: var(--white-color);
}

.tags li + li::before {
  content: " | ";
  padding: 0 10px;
  color: var(--gray-color);
}

.contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.contact-me h4 {
  font-weight: bold;
  font-size: 40px;
  color: var(--primary-3-color);
  padding-top: 3%;
}

.contact-me p {
  color: var(--secondary-3-color);
  padding-bottom: 3rem;
}

.description-2 {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  padding: 1rem;
  color: var(--secondary-color);
}

.form-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 2% 0 1% 0;
}

label {
  visibility: hidden;
  display: none;
}

input,
textarea {
  width: 20rem;
  padding: 12px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

textarea {
  font-family: "Roboto", sans-serif;
  height: 150px;
}

input:focus,
textarea:focus {
  border: 1px solid black;
}

.email-error {
  display: none;
  color: crimson;
  font-size: 20px;
}

/* desktop styles */

@media screen and (min-width: 768px) {
  .mobile-nav {
    display: flex;
  }

  .mobile-nav .btn {
    display: none;
  }

  .mobile-nav img {
    display: block;
    cursor: pointer;
  }

  .mobile-nav .mobile-nav-menu {
    display: flex;
    gap: 8px;
    list-style: none;
    padding-right: 30px;
  }

  .mobile-nav .mobile-nav-menu .items a {
    text-decoration: none;
    color: var(--white-color);
  }

  .logo-name {
    font-weight: 500;
    font-size: 25px;
    color: var(--white-color);
  }

  .fa-angle-right {
    display: none;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    position: fixed;
    background: none;
    padding: 2rem;
    z-index: 2;
  }

  .nav-items {
    display: flex;
    font-size: large;
    gap: 8%;
    margin-right: 5rem;
    list-style: none;
    color: var(--white-color);
  }

  .container {
    margin-top: 10%;
    width: 100%;
  }

  hr {
    width: 30rem;
  }

  .headline {
    background-image: url(imgs/two-circles-header.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
  }

  .abilities {
    grid-template-columns: 18fr 20fr 10fr;
  }

  .social-media {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: baseline;
    margin-top: 5rem;
    width: 100%;
    height: 100px;
  }

  .modal {
    width: 60%;
    height: 80%;
  }

  .modal-body {
    padding: 1rem 2rem 1rem 2rem;
  }

  .modal-body p {
    padding: 0 2% 0 2%;
  }

  .modal-header {
    padding: 0 3rem 1rem 3rem;
  }

  .modal img {
    width: 60%;
    height: auto;
    padding: 1rem;
  }

  .modal-button-div {
    display: inline-block;
    text-align: center;
    padding: 0.5%;
  }

  .modal-button {
    padding: 2%;
    justify-content: center;
    float: right;
  }

  .work {
    display: none;
  }

  .work-1 {
    display: flex;
    font-size: 20px;
    color: #c4c4c4;
  }

  .work-1 .arrow {
    padding-left: 15%;
    height: 25%;
  }

  .work-2 .arrow {
    padding-right: 15%;
    height: 25%;
  }

  .my-work {
    padding: 5%;
    background-image: url(imgs/circles-main.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
  }

  .my-work h3 {
    width: 100%;
  }

  .my-work hr {
    width: 100%;
  }

  .flex-item-style-1,
  .flex-item-style-2 {
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .flex-item-style-1 img {
    float: left;
    max-width: 45%;
  }

  .flex-item-style-2 img {
    float: right;
    max-width: 45%;
  }

  .project {
    display: flex;
    flex-direction: row;
    font-size: 30px;
  }

  .project-info-1 {
    font-size: 20px;
    float: right;
    margin-right: 7%;
    width: 40%;
  }

  .project-info-2 {
    font-size: 20px;
    float: left;
    margin-left: 7%;
    width: 40%;
  }

  .description {
    padding: 0 30% 3% 30%;
  }

  .description-2 {
    width: 40%;
  }

  #name,
  #email,
  #message {
    width: 35rem;
  }
}
