@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--primary-color);
  font-family: "Roboto", sans-serif;
  height: 100%;
}

:root {
  --primary-color: #191765;
  --primary-2-color: #7d73fc;
  --primary-3-color: #9490ff;
  --secondary-color: #c8c8d4;
  --secondary-2-color: #dcdce8;
  --secondary-3-color: #edecff;
  --white-color: #fff;
  --gray-color: #646369;
}

.homepage {
  background-image: url("imgs/top-circles.png");
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: 100% 100%;
}

/* header */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 6rem;
}

.navbar-items {
  display: none;
}

a {
  text-decoration: none;
}

.logo-name {
  font-weight: 500;
  font-size: 20px;
  color: #fff;
}

.union {
  max-width: 100%;
  height: 20px;
}

.union:hover {
  cursor: pointer;
}

/* headline */

.container-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.box {
  flex-basis: 100%;
  text-align: center;
}

.name {
  font-weight: 700;
  font-size: 48px;
  color: var(--primary-2-color);
}

.title {
  font-weight: 500;
  font-size: 32px;
  margin-top: 1rem;
  color: var(--secondary-3-color);
}

.description {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  margin-top: 2rem;
  color: var(--secondary-color);
}

hr {
  border: none;
  height: 1.5px;
  width: 320px;
  margin: auto;
  color: var(--gray-color);
  background-color: var(--gray-color);
}

.abilities {
  display: grid;
  grid-template-columns: 150px 150px;
  grid-template-rows: 2;
  column-gap: 10px;
  row-gap: 3rem;
  font-weight: 500;
  font-size: 20px;
  padding: 3rem 1rem 3rem 2rem;
  color: var(--primary-3-color);
}

.abilities p {
  font-weight: 400;
  padding: 12px 12px 0 0;
  color: var(--secondary-3-color);
}

.social-media ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  list-style: none;
}

.social-media li {
  padding: 3px;
}

/* my works section */

h3 {
  display: flex;
  align-items: center;
  width: 300px;
  font-weight: bold;
  font-size: 40px;
  color: var(--primary-3-color);
  padding: 1rem;
}

.work {
  display: flex;
  justify-content: center;
  font-size: 20px;
  padding: 2rem 0 6rem 0;
  color: #c4c4c4;
}

.work p {
  padding: 1rem;
}

.my-work {
  background-image: url("imgs/bottom-circles.png");
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: 100% 100%;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 2rem;
}

.my-work-img {
  max-width: 100%;
  height: auto;
}

.project {
  text-align: center;
  font-size: 30px;
  color: var(--white-color);
}

.project-info {
  padding: 3rem 0 2rem 0;
}

.project-description {
  padding: 2rem 0 2rem 0;
  color: var(--secondary-2-color);
}

.tags {
  padding: 1rem 0 2rem 0;
}

.tags li {
  display: inline-block;
  color: var(--white-color);
}

.tags li + li::before {
  content: " | ";
  padding: 0 10px;
  color: var(--gray-color);
}

.button {
  background-color: var(--primary-2-color);
  color: var(--white-color);
  transition: 200ms;
  border: none;
  padding: 16px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}

.button:hover {
  background-color: var(--primary-2-color);
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
  cursor: pointer;
  transform: translateY(5px);
  color: var(--white-color);
  border: none;
  padding: 16px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}

a:link,
a:visited {
  color: var(--white-color);
}

.button:active {
  background-color: #5e42d7;
}

/* contact section */

.form-fields {
  list-style: none;
  padding: 2rem 0 1rem 0;
}

input[type="text"],
textarea {
  width: 20rem;
  padding: 12px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.description-2 {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  padding: 1rem;
  color: var(--secondary-color);
}

h4 {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 40px;
  color: var(--primary-3-color);
  padding-top: 3rem;
}

/* footer */

.footer {
  padding-top: 4rem;
}

.footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  list-style: none;
}

.footer li {
  padding: 3px;
}

.footer p {
  text-align: center;
  color: var(--secondary-3-color);
  padding-bottom: 3rem;
}
